# This workflow builds the SharpMonoInjector project on Windows

name: Build

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    strategy:
      matrix:
        configuration: [Debug, Release]

    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    # Add MSBuild to the PATH
    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v2

    # Restore NuGet packages
    - name: Restore NuGet packages
      run: nuget restore SharpMonoInjector.sln

    # Build the solution
    - name: Build
      run: msbuild SharpMonoInjector.sln /p:Configuration=${{ matrix.configuration }}

    # Upload build artifacts
    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: SharpMonoInjector-${{ matrix.configuration }}
        path: build/${{ matrix.configuration }}/
